.tabman {
  background-color: var(--color-titlebar);
  border-bottom: 1px solid var(--color-border);
  cursor: default;
  font-size: var(--px-font);
  height: 33px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tabman-tabs {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  float: left;
  margin: -1px;
  max-width: calc(100% - 256px);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px;
}

body.system-titlebar .tabman-tabs {
    max-width: calc(100% - 95px);
}

.tabman-buttons {
    float: left;
    height: 32px;
}

.tabman-buttons button {
  -webkit-app-region: no-drag;
  background: none;
  border: 1px solid transparent;
  color: var(--color-top);
  float: left;
  font-size: var(--px-font);
  height: 34px;
  margin: -1px;
  outline: none;
  padding: 10px;
}

.tabman-buttons button img {
  vertical-align: top;
}

.tabman-buttons button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border) !important;
  cursor: pointer;
}

.tabman-buttons button:focus {
  border-color: var(--color-border) !important;
  box-shadow: var(--shadow-focus);
}

.tabman-buttons button:active {
  background-color: var(--color-border);
}

.tabman-tab {
  background-color: var(--color-titlebar);
  border: 1px solid var(--color-border);
  color: var(--color-top);
  cursor: default;
  flex-grow: 1;
  height: 34px;
  margin: -1px;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 34px;
  outline: none;
  padding: 8px;
  position: relative;
  text-align: left;
  transition: opacity 0.25s, transform 0.25s;
  width: 256px;
}

.tabman-tab.invisible {
    display: none;
}

.tabman-tab.active {
  background-color: var(--color-back);
  border-bottom: 1px solid var(--color-back);
}

.tabman-tab:active {
  background-color: var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.tabman-tab.gu-mirror {
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 0 4px rgba(0, 0, 0, var(--opacity-over));
  opacity: 1;
}

.tabman-tab:focus {
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--shadow-focus);
}

.tabman-tab-icon {
    display: inline-block;
    height: 16px;
}

.tabman-tab-icon img {
    max-height: 16px;
    max-width: 16px;
}

.tabman-tab.active .tabman-tab-icon {
    opacity: 1;
}

.tabman-tab-title {
    left: 32px;
    overflow: hidden;
    position: absolute;
    right: 28px;
    text-overflow: ellipsis;
    top: 6px;
    white-space: nowrap;
    word-break: keep-all;
}

.tabman-tab.active .tabman-tab-title {
    opacity: 1
}

.tabman-tab:hover .tabman-tab-buttons button, .tabman-tab.active .tabman-tab-buttons button {
    transform: scale(1);
}
  
.tabman-tab-buttons {
    position: absolute;
    right: 5px;
    top: 5px;
}

.tabman-tab-buttons button {
  background: none;
  border: 1px solid transparent;
  border-radius: var(--px-radius);
  color: var(--color-top);
  display: inline-block;
  height: 22px;
  outline: none;
  position: relative;
  transform: scale(0);
  transition: transform 0.25s;
  width: 22px;
}
  
.tabman-tab-buttons button:after {
  content: '';
  height: 12px;
  border-left: 2px solid var(--color-top);
  position: absolute;
  transform: rotate(45deg);
  left: 9px;
  top: 4px;
}
  
.tabman-tab-buttons button:before {
  border-left: 2px solid var(--color-top);
  content: '';
  height: 12px;
  left: 9px;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
}
  
.tabman-tab-buttons button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}
  
.tabman-tab-buttons button:focus {
  box-shadow: var(--shadow-focus);
  transform: scale(1);
}
  
.tabman-tab-buttons button:active {
    background-color: var(--color-border);
}

#tab-preview {
  animation: append-center;
  animation-duration: 0.25s;
  background-color: var(--color-element);
  border-radius: var(--px-radius);
  border: 1px solid var(--color-border);
  box-shadow: 0 0 4px rgba(0, 0, 0, var(--opacity-over));
  display: none;
  height: 32px;
  left: 0;
  position: absolute;
  text-align: left;
  top: 37px;
  width: 248px;
  z-index: 1000;
}

#tab-preview.show {
  display: inline-block;
}

#tab-preview-title, #tab-preview-url {
  font-size: 10px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

#tab-preview-title {
  top: 1px;
}

#tab-preview-url {
  opacity: var(--opacity-over);
  top: 14px;
}
